{% extends 'base.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Hi there! Please select a chat room</h1>
</div>


<div class="w-full flex flex-wrap items-center">
    {% for room in rooms %}
        <div class="w-full lg:w-1/3 px-10 py-5">
            <div class="p-4 bg-white shadow rounded-md text-center">
                <h2 class="mb-5 text-2xl font-semibold">{{ room.name }}</h2>

                <a href="{% url 'chat:room' room.slug %}" class="px-5 py-3 block rounded-md text-white bg-indigo-500 hover:bg-indigo-700">Join</a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}